:root {
	--dgrey: #333;
	--ldgrey: #404040;
	--lgrey: #555;
	--llgrey: #ddd;
}

h1,
h2,
h3,
h4 {
	text-align: center;
}

.box {
	width: 200px;
	border: 1px solid var(--dgrey);
	text-align: center;
}

/* rows and columns stuff */
.container {
	display: flex; /* Use flexbox */
	justify-content: space-between; /* Distribute space between columns */
	text-align: center;
}

.column {
	flex: 1; /* Each column takes up equal space */
}

/* Style the navbar container */
.navbar {
	background-color: var(--dgrey);
	overflow: hidden;
}

/* Style the navbar links */
.navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Add hover effect on navbar links */
.navbar a:hover {
	background-color: var(--llgrey);
	color: black;
}

/* Add active class to the current link */
.active {
	background-color: var(--lgrey);
}

/* Dropdown button */
.dropbtn {
	background-color: var(--dgrey);
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	position: relative; /* Ensure the button's position is relative */
	display: inline-block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
	display: none;
	background-color: var(--ldgrey);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: inline-block;
	position: absolute;
	top: 10px;
}

/* Change how drop-down details class (used for explanations) are displayed */
details {
	border: 1px solid var(--dgrey);
	background-color: var(--llgrey);
}
details > *:not(summary) /*anything inside details EXCEPT summary */ {
	padding-left: 30px; /* add a tab */
	padding-right: 5px;
}

/* Scale images so that they fit the page */
html,
body {
	height: 100%;
	margin: 5px;
	padding: 5px;
}

img {
	padding: 0;
	display: block;
	margin: 0 auto; /* centered */
	max-height: 90%;
	max-width: 90%;
}
