<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>One-Time Pad</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles.css') }}"
		/>
	</head>
	<body>
		{%include 'nav.html' %}
		<h1>One-Time Pad</h1>

		<form action="/OTP-encrypt" method="post">

			<br>
			<label for="key">
				Enter your password/phrase. This should be something that's easy to remember for both
				you and the person you want to send encrypted messages with.
			</label>
			<br />
			<input type="text" id="key" name="key"/>
			<br><br>

			<label for="input_text">
				Enter the message you'd like to encrypt/decrypt:
			</label>
			<br />
			<textarea id="input_text" name="input_text" rows="5" cols="50"></textarea>
			<br />

			<input type="checkbox" id="binary" name="binary" value=True>
  			<label for="binary"> My message is in binary format </label><br>

			</br>

			<input type="submit" value="Submit" />
		</form>

		{% if encryption %}
			<h2><center>Your encrypted ciphertext</center></h2>
			<p> 
				Note: not all ASCII values are printable using text, so if you're encrypting text, 
				your ciphertext on the bottom (the text version) may look weird. The binary representation
				on the top is what you should copy and paste if you'd like to decrypt it.
			</p>
			<textarea label="ciphertextBinary" rows="5" cols="50">
				{{encryption['ciphertextBinary']}}
			</textarea>
			<p> = </p>
			<textarea label="ciphertextReg" rows="5" cols="50">
				{{encryption['ciphertextReg']}}
			</textarea>

		{% endif %}

		<br><br><br>

		<details class="beginner-explanation">
			<summary>Click for a beginner's explanation of one-time pad encryption</summary>
			<ul>
				<li>Option 1</li>
				<li>Option 2</li>
				<li>Option 3</li>
			</ul>
		</details>

		<details class="advanced-explanation">
			<summary>Click for a more advanced explanation of one-time pad encryption</summary>
			<ul>
				<li>Option 1</li>
				<li>Option 2</li>
				<li>Option 3</li>
			</ul>
		</details>



	</body>
</html>
