<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Symmetric Ratchet</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles.css') }}"
		/>
	</head>
	<body>
		{%include 'nav.html' %}
		<h1>Symmetric Ratchet</h1>
		<h2>Generate new keys!</h2>

		<details class="why">
			<summary>Why would I want to generate new keys?</summary>
			<p>
				We know that with a key that only you and one other person know, you
				can encrypt secret messages so that even if you're 'overheard' by an
				eavesdropper, the person spying on you will have no idea what you're
				saying. This sounds pretty foolproof, so why do the extra work of
				generating new keys?
			</p>
			<p>
				Well, it's generally not good practice to use the same key for more
				than one encryption/decryption. After all, what if your eavesdropper
				somehow learns your key? Then they'll be able to decipher all of
				your messages - past, present, and future - but you and your partner
				will still think your messages are secret! That's not very secure.
			</p>
			<p>
				A good solution to this is to generate a new key every time you want
				to send a message. It'd be pretty difficult to coordinate with your
				partner if you had to think up a new key every time you sent a
				message, and you'd have the added threat of your key being
				overheard. So how can we come up with new keys in a way that's easy
				to do and won't risk someone eavesdropping and finding out our new
				key?
			</p>
			<p>
				Now presenting: the symmetric ratchet! It takes in your original key
				as a seed and generates two new strings, <i>t</i> and <i>s</i>,
				where <i>t</i> will be your new key, and <i>s</i> is the seed that
				will get the <i>next</i> new key. The function is deterministic,
				meaning that the same input will always result in the same output,
				so you and your partner will have an endless supply of new keys that
				are guaranteed to match.
			</p>

			<p>
				A symmetric ratchet is an excellent way to come up with new keys,
				and has the added benefit of <i>forward secrecy</i>. That means that
				even if an eavesdropper learns one of your new keys (and therefore
				knows how to compute all of your future keys) they have no idea what
				your past keys were, and therefore have no way of figuring out what
				your past messages said.
			</p>
		</details>

		<form action="/sr-activate" method="post">
			<br>
			<label for="key">
				Enter your original key. This should be a word or phrase that's easy to remember for both
				you and the person you want to send encrypted messages with.
			</label>
			<br />
			<textarea id="key" name="key" rows="1" cols="50"></textarea>
			<br />

			<input type="checkbox" id="binaryKey" name="binaryKey" value=True>
  			<label for="binaryKey"> My message is in binary format </label><br>
			<br>

			<label for="loops">
				I'd like to get the <i>nth</i> 
					(<input type="number" id="loops" name="loops" min="1" max="100" value="1"/>)
				next key & seed.
			</label>

			<details class="loops">
				<summary>What does it mean to get the <i>nth</i> next key & seed?</summary>
				<p>
					As discussed in the previous section (why would I want to generate new keys?), you can your 
					partner can generate new keys as many times as you'd like, all from the same original key. If 
					you're just looking to get the next key from your original, select '1'. Similarly, if you've 
					already used your next key and want to get an additional one after that, select '2'. 
					Use this logic as many times as you'd like.
				</p>
				<p>
					The general rule is that if you select any integer <i>n</i> here, that's the same
					as manually generating new keys and seeds <i>n - 1</i> times with your results. For example, 
					selecting '2' will get you the same result as inputting a key <i>k</i> and selecting '1', getting 
					<i>t</i> and <i>s</i>, and then inputting <i>s</i> to get a second new key and seed. 
				</p>

			</details>


			</br>
			<input type="submit" value="Submit" />
		</form>

		{% if results %}
			<h2>Results</h2>
			<div class="container">

				<div class="column">
					<h3><i>t</i>, your new key</h3>
					<center>
						<div class="box"> 
							{{results['t']}}
						</div> 
						<br>
						<button onclick="copyText(`{{ results['t'] }}`)">Copy to clipboard</button>
					</center>
				</div>

				<div class="column">
					<h3><i>s</i>, the seed for your next new key</h3>
					<center>
						<div class="box"> 
							{{results['s']}}
						</div> 
						<br>
						<button onclick="copyText(`{{ results['s'] }}`)">Copy to clipboard</button> 
						<br />
					</center>
				</div>

			</div>
			
		{% endif %}

		<script>
			function copyText(txt) {
				// copy txt into clipboard 
				// put txt in format `{{ TXT }}` if you want the value of the variable not a string literal
				navigator.clipboard.writeText(txt);
			}
		</script>

		<br><br><br>

		<details class="beginner-explanation">
			<summary>Click for a beginner's explanation of symmetric ratchet</summary>
				<p>
					Symmetric ratchet relies on a function called a PRG, a pseudo-random generator. What that means 
					is that the function takes in a string or number and outputs something "random", or at least 
					something that looks random to someone who doesn't know the input. A length-doubling PRG, which 
					is what the symmetric ratchet uses, does exactly what it sounds like - it takes in an input with a 
					given length, say length <i>n</i>, and outputs something "random" looking with length <i>2n</i>. 
				</p>
				<p>
					This new output with double the length of our input is what we use. The first half of the output, 
					<i>t</i>, is what we use as our new key. You might think that we could also use it as an input for 
					our next <i>t</i>, but remember that the output of a PRG only looks random if you don't know the 
					input! If we used <i>t</i> as our key and our input to generate our next key, the outputs wouldn't 
					look "random" enough and it would be much easier to crack our encryption. The second half of the output, 
					<i>s</i>, is what we use the generate our next key.
				</p>
				<p>
					The great (and necessary) thing about PRGs is that they're <b>deterministic</b>, meaning that the 
					same input will always get you the same output. This means that as long as you and your partner both 
					start out with the same original key (or seed), your updated keys will always match up.
				</p>
		</details>
		<br>
		<details class="advanced-explanation">
			<summary>Click for a more advanced explanation of symmetric ratchet</summary>
				<p>
					Given a secure length-doubling pseudo-random generator (PRG), <i>G</i>, and a starting key, <i>k</i>,
					you and your partner can generate as many updated keys as you'd like, and be confident that you both 
					have the same information.
				</p>
				<p>
					If <i>G</i> takes in <i>n</i> bits and then outputs <i>2n</i> psuedo-random bits, we can use the first 
					<i>n</i> bits as our updated key and the last <i>n</i> bits as our seed for <i>G</i> to generate
					the next updated key. A helpful diagram from chapter 5 of Mike Rosulek's 
					<a href="https://joyofcryptography.com/">The Joy of Cryptography</a> is shown below.
				</p>
				<img src="../static/images/symmetric_ratchet.png" alt="Diagram of a symmetric ratchet scheme">
				<p>
					Using the above diagram as a visual aid, we can convince ourself that that starting from 
					<i>k = s<sub>0</sub></i> and iterating through the PRG twice to get <i>t<sub>2</sub></i> is functionally
					the same as starting with <i>s<sub>1</sub></i> and iterating throug the PRG once. This is why we don't 
					need to save any past seeds, including the original key that you and your partner came up with.
				</p>
		</details>

		<br><br>

	</body>
</html>
