<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>RSA</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles.css') }}"
		/>
	</head>
	<body>
		{%include 'nav.html' %}
		<h1>RSA</h1>

		<br />
		<details class="how to">
			<summary>How to use this page:</summary>
			<p>
				RSA encryption is a little different than previous schemes on this
				app. Instead of coming up with a key together with the person you'd
				like to send messages with, RSA uses two keys: a public one, and a
				private one. One person (the person who wants to receive the
				message) comes up with both keys, the public one, (N, e), and the
				private one, (N, d). Then they share the public key with their
				partner, or with the entire world if they'd like to! Because only
				they have the private key, they'll be the only person who can
				decrypt a message sent with the public key.
			</p>
			<p>
				For the message receiver: generate public and private keys below,
				then send the public key, (N, e), to your partner. They will encrypt
				a message number with this public key using the form below, and you
				can decrypt it with your private key.
			</p>
			<p>
				For the message sender: your partner should have shared with you a
				public key, (N, e). Use that to encrypt your message number and you
				can send that to your partner for them to decrypt.
			</p>
		</details>
		

		<br />
		<form action="/RSA-gen-keys" action="POST">
			<br />
			<label for="p">
				Enter a unique prime number, <i>p</i>. This will be multiplied with
				the other prime, <i>q</i> to generate <i>N</i>, a component of your
				public and private keys.
				<b>This can not be the same number as <i>q</i>.</b>
			</label>
			<p>
				<i>p</i> =
				<input
					type="number"
					id="p"
					name="p"
					min="2"
					max="1000"
					value="89"
				/>
			</p>

			<label for="q">
				Enter a unique prime number, <i>q</i>. This will be multiplied with
				the other prime, <i>q</i> to generate <i>N</i>, a component of your
				public and private keys.
				<b>This can not be the same number as <i>p</i>.</b>
			</label>
			<p>
				<i>q</i> =
				<input
					type="number"
					id="q"
					name="q"
					min="2"
					max="1000"
					value="83"
				/>
			</p>

			<input type="checkbox" id="choosePQ" name="choosePQ" value=True />
			<label for="choosePQ"> Choose <i>p</i> and <i>q</i> for me </label>
			<br>

			<input type="submit" value="Generate keys" />
		</form>

		<script>
			function copyText(txt) {
				// copy txt into clipboard 
				// put txt in format `{{ TXT }}` if you want the value of the variable not a string literal
				navigator.clipboard.writeText(txt);
			}
		</script>

		{% if keys %}
			<h2>Your generated keys</h2>
			<center>
			<div class="container">
				<div class="column">
					<center>
					<h3><i>p </i>and <i>q</i></h3>
					<p>
						<i>p</i> = <div class="box"> 
							{{keys['p']}}
						</div> 
						<button onclick="copyText(`{{ keys['p'] }}`)">Copy to clipboard</button> 
					</p>
					<p>
						<i>q</i> = <div class="box"> 
							{{keys['q']}}
						</div> 
						<button onclick="copyText(`{{ keys['q'] }}`)">Copy to clipboard</button> 
					</p>
					</center>
				</div>

				<div class="column">
					<center>
					<h3>Your private key <i>(N, d)</i></h3>
					<p>
						<i>N</i> = <div class="box"> 
							{{keys['N']}}
						</div> 
						<button onclick="copyText(`{{ keys['N'] }}`)">Copy to clipboard</button> 
					</p>
					<p>
						<i>d</i> = <div class="box"> {{keys['d']}}</div> 
						<button onclick="copyText(`{{ keys['d'] }}`)">Copy to clipboard</button> 
					</p>
					</center>
				</div>

				<div class="column">
					<center>
					<h3>Your public key <i>(N, e)</i></h3>
					<p>
						<i>N</i> = <div class="box"> 
							{{keys['N']}}
						</div> 
						<button onclick="copyText(`{{ keys['N'] }}`)">Copy to clipboard</button> 
					</p>
					<p>
						<i>e</i> = <div class="box"> 
							{{keys['e']}}
						</div> 
						<button onclick="copyText(`{{ keys['e'] }}`)">Copy to clipboard</button> 
					</p>
					</center>
				</div>
			</div>
			</center>
		
		{% endif %}
	


		<p>
			Note: this is a simplified version of what modern encryption looks
			like. To limit the computational power used here,
			<b>only numbers</b> can be encrypted/decrypted on this scheme.
			Additionally, this scheme isn't secure! To be truly secure, RSA's must
			be hashed (meaning that we input your message into a separate, shared,
			complex function before you encrypt/decrypt it). Because this web app
			is just for poops and giggles, I didn't use a hash function, so don't
			send any "dangerous" numbers that you wouldn't want to get out!
		</p>
	</body>
</html>
